@import 'tailwindcss';

body{ 
    background-color: #ebddd7;
    color: #000000;}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
